AZURE_SUBSCRIPTION_ID=<AZURE_SUBSCRIPTION_ID>
AZURE_TENANT_ID=<AZURE_TENANT_ID>
UNIQUE_SUFFIX=sk85
LOCATION=canadacentral
MONGODB_DEV_URI=<MONGODB_DEV_URI>
MONGODB_PROD_URI=<MONGODB_PROD_URI>
OPENAI_API_KEY=<OPENAI_API_KEY>
YOUTUBE_API_KEY=<YOUTUBE_API_KEY>
